

ion-content{
    padding: 50px;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0) ;
    

    div#dictationEdit {
        border: 3px solid var(--bory-blue) ;
        box-shadow: 5px 5px 5px !important;
        margin: 0 0 0 0;
        width: 100%;
        height: 100%;
        margin-bottom:0;
        padding:0em;   
            background: white;        

        
        div.close {
            width: 100%;
            height: 5% ;
            ion-button {
                float: right;
                button {
                    color: white;
                }
            }
        }
        

        div.video-player {

            width: 100% ;
            height: 80% ;

        }

        div.reaction {
            width:100% ;
            height:15%;


            ion-grid {   
                ion-row {

                    ion-col ion-button.hot {
                        background-color: var(--ion-color-secondary)  !important;
                        width: 100%;
                    }
                    ion-col ion-button.cool {
                        background-color: var(--ion-bory-blue)  !important;
                        width: 100%;
                    }
                }  
            }                                 
            
        }   
    }
}